<footer id="footer">
  <div class="outer">
    <div id="footer-info">
    	<div class="footer-left">
    		<p>&copy;2017-<%= date(new Date(), 'YYYY') %> <%= config.author || config.title %></p>
    		<p>Power by &nbsp<a href="http://hexo.io/" target="_blank">Hexo</a></p>
    </div>
  </div>
</footer>
